.burgerBtn {
    display: none;
}

.burgerOpenWrapper {
    display: none;
}

.burgerNav {
    display: none;
}

@media screen and (max-width: 640px) {
    .burgerBtn {
        display: inline;
        float: center;
        padding: 10px;
    }
    
    .burgerBtn{
        padding: 10px;
        border: 1px solid rgb(88, 114, 88);
        background-color: rgb(237, 242, 237);
        border-radius: 0.3em;
    }
    
    .burgerBtn:hover{
        color: #ffff;
        background-color: seagreen;
    }

    .burgerOpenWrapper{
        display: inline;
        float: center;
    }

    #burgerNav {
        display: inline;
    }
    
}
