.portfolioGridContainer {
    display: grid;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.portfolioMenu {
    display: grid;
    height: 95vh;
    width: 95vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 65vh 65vh;
    grid-gap: 2px 2px;
    justify-content: center;
    align-items: center;
}

.portfolioMenuItem {
    display: flex;
    background-position: center center;
    background-size: cover;
    height: 100%;
    color: #fff;
    background-color: #000;
    z-index: 0;
}

.portfolioMenuItem:hover{
    filter: saturate(0.25);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.portfolioMenuItem h2 {
  display: none;
}


.portfolioMenuItem:hover h2 {
    z-index: 2;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: start;
    color: #fff;
    color: #eeeeec;
    margin: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 0.5s;
    opacity: 1;
    width: -webkit-fill-available;
}

#landscapeItm {
    background-image: url(https://cdn.myportfolio.com/2b1b8b85-ad36-43bf-93d1-06269f942d23/4ef7a6ba-b221-4d9a-aec3-84c0c47a9cde_rw_1200.jpg?h=50524f542745ec9d373e961338943bfc);

}

#peopleItm {
    background-image: url(https://cdn.myportfolio.com/2b1b8b85-ad36-43bf-93d1-06269f942d23/5235d00a-6a95-4a69-a6d3-797a26d7300e_rw_1200.jpg?h=b8a56f76c3bcb4de00ebfbbb24310ece);
}

#commercialItm {
    background-image: url(https://cdn.myportfolio.com/2b1b8b85-ad36-43bf-93d1-06269f942d23/6b19c58d-fc53-403b-85bc-7ec0dc279857_rw_1200.jpg?h=3e5cfed6f4140412fb38afd89d01c558);
}

#videographyItm {
    background-image: url(https://cdn.myportfolio.com/2b1b8b85-ad36-43bf-93d1-06269f942d23/9402f36e-af2a-4d6c-8c8d-851075d9c4ca_rw_1200.jpg?h=6850f195ba6ff509ef252e0279dc334f);
}


@media only screen and (max-width: 540px) {
    .portfolioGridContainer {
        display: flex !important;
    }

    .portfolioMenu {
        display: flex !important;
        flex-direction: column;
        grid-gap: 0!important;
    }

    .portfolioMenuItem {
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: 20vh;
    }
}
